/* RESET SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("https://images6.alphacoders.com/469/469195.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#generator {
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 5px black;
}
#photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
#photo img {
  width: 100%;
}

h1 {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}
h5 {
  margin-top: 50px;
  text-align: center;
}

#password {
  width: 90%;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  filter: blur(5px);
}
 #password:hover {
   filter: blur(0);
 }
